<div class="with-sidebar">
  <div>
    <div style="width: max(25%, 12rem)">
      <% if entry.cover.attached? %>
        <div class="frame | frame-1-1">
          <%= image_tag entry.cover %>
        </div>
      <% end %>
    </div>

    <div class="stack">
      <div class="cluster | cluster-space cluster-baseline">
        <div>
          <h1 class="unifraktur"><%= highlight_link_to entry.name, [local_assigns[:namespace], entry] %></h1>

          <% if local_assigns[:namespace] == :admin %>
            <div class="cluster">
              <div>
                <%= link_to t(".edit_link"), edit_admin_entry_path(entry) %>
                <%= button_to t(".delete_button"), admin_entry_path(entry), method: :delete, data: { confirm: t(".delete_button_confirmation") } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if entry.links.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Link.model_name.human.pluralize %>:</strong>

            <% entry.links.each do |link| %>
              <%= highlight_link_to link.address, class: "with-icon" do %>
                <%= icon_tag link_icon(link) %>
                <%= link_name(link) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if entry.tags.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Tag.model_name.human.pluralize %>:</strong>

            <%= render partial: "tags/tag", collection: entry.tags, locals: { namespace: local_assigns[:namespace] } %>
          </div>
        </div>
      <% end %>

      <div class="plex-mono">
        <%= entry.description %>
      </div>
    </div>
  </div>
</div>
