<div class="with-sidebar | plex-mono">
  <div>
    <div style="width: max(25%, 16rem)">
      <% if entry.cover.attached? %>
        <div class="tile" style="--cover-image: url('<%= url_for entry.cover %>');">
          <div class="tile--cover"></div>
        </div>
      <% end %>
    </div>

    <div class="stack | stack-xs">
      <h1><%= link_to entry.name, entry %></h1>

      <% if entry.creator_tags.any? %>
        <div class="cluster">
          <div>
            <%= render partial: "tags/tag", collection: entry.creator_tags %>
          </div>
        </div>
      <% end %>

      <div>
        <%= entry.description %>
      </div>

      <% if entry.non_creator_tags.any? %>
        <div class="cluster">
          <div>
            <% entry.non_creator_tags.group_by(&:tag_category).each_with_index do |(category, tags), index| %>
              <% if index > 0 %><span>&mdash;</span><% end %>
              <%= render partial: "tags/tag", collection: tags %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if entry.links.any? %>
        <div class="cluster">
          <div>
            <% entry.links.each do |link| %>
              <%= highlight_link_to link.address, class: "with-icon" do %>
                <%= icon_tag link_icon(link) %>
                <%= link_name(link) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
