<div class="with-sidebar">
  <div>
    <div style="width: max(25%, 12rem)">
      <% if entry.cover.attached? %>
        <div class="frame | frame-1-1">
          <%= image_tag entry.cover %>
        </div>
      <% end %>
    </div>

    <div class="stack">
      <h1 class="unifraktur"><%= link_to entry.name, entry %></h1>

      <% if entry.links.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Link.model_name.human.pluralize %>:</strong>

            <% entry.links.each do |link| %>
              <%= link_to link_name(link), link.address %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if entry.tags.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Tag.model_name.human.pluralize %>:</strong>

            <% entry.tags.each do |tag| %>
              <%= link_to tag.name, tag %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="plex-mono">
        <%= entry.description %>
      </div>
    </div>
  </div>
</div>
