<div class="with-sidebar">
  <div>
    <div style="width: max(25%, 12rem)">
      <% if entry.cover.attached? %>
        <div class="tile | tile-fill" style="--cover-image: url('<%= url_for entry.cover %>');">
          <div class="tile--cover"></div>
        </div>
      <% end %>
    </div>

    <div class="stack">
      <div class="cluster | cluster-space cluster-baseline">
        <div>
          <h1 class="unifraktur"><%= highlight_link_to entry.name, entry %></h1>
        </div>
      </div>

      <% if entry.links.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Link.model_name.human.pluralize %>:</strong>

            <% entry.links.each do |link| %>
              <%= highlight_link_to link.address, class: "with-icon" do %>
                <%= icon_tag link_icon(link) %>
                <%= link_name(link) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if entry.tags.any? %>
        <div class="cluster">
          <div class="plex-mono">
            <strong><%= Tag.model_name.human.pluralize %>:</strong>

            <%= render partial: "tags/tag", collection: entry.tags %>
          </div>
        </div>
      <% end %>

      <div class="plex-mono">
        <%= entry.description %>
      </div>
    </div>
  </div>
</div>
