<%= form_with model: @entry, class: "stack" do |form| %>
  <div>
    <%= form.label :name %>
    <% @entry.errors.full_messages_for(:name).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cover %>
    <% @entry.errors.full_messages_for(:cover).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.label :description %>
    <% @entry.errors.full_messages_for(:description).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.rich_text_area :description, value: @entry.description.presence || Entry::DEFAULT_DESCRIPTION %>
  </div>

  <div>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
      <%= b.label do %>
        <%= b.check_box %>
        <%= b.text %>
      <% end %>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
