<div id="<%= dom_id entry %>" class="with-sidebar | plex-mono">
  <div>
    <div style="width: max(25%, 16rem)">
      <% if entry.cover.attached? %>
        <div class="tile" style="--cover-image: url('<%= cover_url %>');">
          <div class="tile--cover"></div>
        </div>
      <% end %>
    </div>

    <div class="stack | stack-xs">
      <h1><%= link_to entry.name, entry %></h1>

      <% if creator_tags.any? %>
        <% if creator_tags.count > 5 %>
          <details class="stack">
            <summary>
              <div class="cluster">
                <div>
                  <em><%= t ".many_contributors", count: creator_tags.count %></em>
                </div>
              </div>
            </summary>
            <div class="cluster">
              <div>
                <%= render partial: "tags/tag", collection: creator_tags %>
              </div>
            </div>
          </details>
        <% else %>
          <div class="cluster">
            <div>
              <%= render partial: "tags/tag", collection: creator_tags %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div>
        <%= entry.description %>
      </div>

      <% if non_creator_tags.any? %>
        <div class="cluster">
          <div>
            <% non_creator_tags.group_by(&:tag_category).each_with_index do |(category, tags), index| %>
              <% if index > 0 %><span>&mdash;</span><% end %>
              <%= render partial: "tags/tag", collection: tags %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if entry.links.any? %>
        <div class="cluster">
          <div>
            <% entry.links.each do |link| %>
              <%= highlight_link_to link.address, class: "with-icon" do %>
                <%= icon_tag link_icon(link) %>
                <%= link_name(link) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
