<%= turbo_frame_tag "page_#{page.number}", target: "_top", style: "display: block;", class: local_assigns[:class] do %>
  <%= yield %>

  <% if !page.last? %>
    <% next_page_path = path.call(page.next_param) %>
    <%= turbo_frame_tag "page_#{page.number + 1}", target: "_top", src: next_page_path, loading: "lazy", class: local_assigns[:class], style: "display: block;", data: { controller: "frame", action: "turbo:frame-load->frame#disable" } do %>
      <div class="center">
        <div class="cluster | cluster-center">
          <div class="tw-font-body">
            <%= tag.span t(".loading") %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="center" data-controller="hide" data-hide-hidden-class="hidden">
    <div class="cluster | cluster-center">
      <div class="tw-font-body">
        <% if !page.first? %>
          <% previous_page_path = path.call(page.number - 1) %>
          <%= highlight_link_to t(".previous_page"), previous_page_path %>
        <% end %>
        <%= tag.span t(".current_page", number: page.number, count: page.recordset.page_count) %>
        <% if !page.last? %>
          <% next_page_path = path.call(page.next_param) %>
          <%= highlight_link_to t(".next_page"), next_page_path %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
