<%= form_with model: [:admin, tag], class: "stack" do |form| %>
  <div>
    <%= form.label :name %>
    <% tag.errors.full_messages_for(:name).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tag_category_id %>
    <% tag.errors.full_messages_for(:tag_category).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.select :tag_category_id, options_from_collection_for_select(TagCategory.all, :id, :name, tag.tag_category_id) %>
  </div>

  <div>
    <%= form.label :description %>
    <% tag.errors.full_messages_for(:description).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.rich_text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
