<div class="cluster | cluster-baseline cluster-space">
  <div>
    <h1><%= t(".title") %></h1>

    <div>
    <%= link_to t(".new_tag_link"), new_admin_tag_path %>
    </div>
  </div>
</div>

<% @tag_categories.each do |tag_category| %>
  <h2><%= tag_category.name %></h2>

  <div class="cluster | palatino">
    <div>
      <% tag_category.tags.each do |tag| %>
        <div>
          <%= render partial: "tags/tag", locals: { tag: tag, namespace: :admin } %> <%= tag.entries.count %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if Tag.where.missing(:tag_category).any? %>
  <h2><%= t(".uncategorised") %></h2>

  <div class="cluster | palatino">
    <div>
      <% Tag.where.missing(:tag_category).each do |tag| %>
        <div>
          <%= link_to tag.name, [:admin, tag] %> <%= tag.entries.count %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
