<% content_for(:title) do %><%= @tag.name %><% end %>

<div class="cluster | cluster-space cluster-baseline">
  <div>
    <h1><%= @tag.name %></h1>


    <div class="cluster">
      <div>
        <%= link_to t(".edit_link"), edit_admin_tag_path(@tag) %>
        <%= button_to t(".delete_button"), admin_tag_path(@tag), method: :delete, data: { confirm: t(".delete_button_confirmation") } %>
      </div>
    </div>
  </div>
</div>

<div class="stack | stack-l">
  <%= render partial: "entries/entry", collection: @tag.entries, locals: { namespace: :admin } %>
</div>
