<%= form_with model: tag, class: "stack" do |form| %>
  <div>
    <%= form.label :name %>
    <% tag.errors.full_messages_for(:name).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit %>
<% end %>
