<% content_for(:title) do %><%= t(".title") %><% end %>

<h1><%= t(".title") %></h1>

<% @tag_categories.each do |tag_category| %>
  <h2><%= tag_category.name %></h2>

  <div class="tw-flex tw-gap-4">
    <% tag_category.tags.each do |tag| %>
      <em>
        <%= link_to tag.name, tag %><small>(<%= tag.entries.count %>)</small>
      </em>
    <% end %>
  </div>
<% end %>
