<% content_for(:title) do %><%= @tag.name %><% end %>
<% @social_focus = @tag %>

<h1 class="tw-text-4xl tw-font-semibold tw-text-body-12"><%= @tag.name %></h1>

<%= @tag.description %>

<%= render "shared/paginate", page: @page, path: ->(next_page) {tag_path(@tag, page: next_page)}, class: "tw-flex tw-flex-col tw-gap-8" do %>
  <%= render EntryComponent.with_collection(@entries) %>
<% end %>
