<% content_for(:title) do %><%= @tag.name %><% end %>

<div class="cluster | cluster-space cluster-baseline">
  <div>
    <h1><%= @tag.name %></h1>
  </div>
</div>

<%= @tag.description %>

<%= render "shared/paginate", page: @page, path: ->(next_page) {tag_path(@tag, page: next_page)}, class: "stack | stack-l" do %>
  <%= render EntryComponent.with_collection(@page.records) %>
<% end %>
