<%= form_with model: search, url: search_path, method: :get, class: "search | cluster" do |form| %>
  <div class="plex-mono">
    <div class="cluster-grow | highlight-white">
      <div class="search--field with-icon" data-controller="highlight">
        <%= form.label :query do %>
          <%= icon_tag :search %>
        <% end %>
        <%= form.text_field :query, name: :query, placeholder: Search.model_name.human %>
      </div>
    </div>

    <div class="cluster" style="min-width: 25%;">
      <div>
        <div class="cluster-grow | highlight-yellow hover-highlight-white">
          <%= form.submit name: "search", class: "search--submit", data: { controller: "highlight", "highlight-animate-value": true } %>
        </div>

        <div class="cluster-grow | highlight-yellow hover-highlight-white">
          <%= form.submit name: "random", value: I18n.t("helpers.submit.search.random"), class: "search--submit", data: { controller: "highlight", "highlight-animate-value": true, turbo: false } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
