<h1><%= t(".title") %></h1>

<%= render partial: "form", locals: { search: @search } %>

<% if @search.query %>
  <h2><%= pluralize(@search.tags.count, Tag.model_name.human) %></h2>

  <div class="cluster">
    <div>
      <% @search.tags.each do |tag| %>
        <%= link_to highlight(tag.name, @search.query), tag %>
      <% end %>
    </div>
  </div>

  <h2><%= pluralize(@search.entries.count, Entry.model_name.human) %></h2>

  <% @search.entries.each do |entry| %>
    <%= highlight(render(entry), @search.query.split) %>
  <% end %>
<% end %>
