<% content_for :banner do %>
  <div class="c-white bg-black">
    <div class="container | centre stack | p-l">
      <h1><%= t(".title") %></h1>

      <%= render partial: "form", locals: { search: @search } %>
    </div>
  </div>
<% end %>

<% if @search.query %>
  <h2><%= pluralize(@search.tags.count, Tag.model_name.human) %></h2>

  <div class="cluster">
    <div>
      <% @search.tags.each do |tag| %>
        <%= link_to search_highlight(tag.name, @search.query.split(" ")), tag %>
      <% end %>
    </div>
  </div>

  <h2><%= pluralize(@search.entries.count, Entry.model_name.human) %></h2>

  <%= render "shared/paginate", page: @page, path: ->(next_page) {search_path(query: @search.query, page: @page.next_param)}, class: "stack | stack-l" do %>
    <% @page.records.each do |entry| %>
      <div class="with-sidebar | plex-mono" data-controller="search-highlights">
        <div>
          <div style="width: max(25%, 16rem)">
            <% if entry.cover.attached? %>
              <div class="tile" style="--cover-image: url('<%= url_for entry.cover %>');">
                <div class="tile--cover"></div>
              </div>
            <% end %>
          </div>

          <div class="stack | stack-xs">
            <h1><%= highlight_link_to search_highlight(entry.name, @search.query.split(" ")), entry %></h1>

            <% if entry.creator_tags.any? %>
              <div class="cluster">
                <div>
                  <%= render partial: "tags/tag", collection: entry.creator_tags %>
                </div>
              </div>
            <% end %>

            <div>
              <%= search_highlight entry.description.to_s, @search.query.split(" ") %>
            </div>

            <% if entry.non_creator_tags.any? %>
              <div class="cluster">
                <div>
                  <% entry.non_creator_tags.group_by(&:tag_category).each_with_index do |(category, tags), index| %>
                    <% if index > 0 %><span>&mdash;</span><% end %>
                    <%= render partial: "tags/tag", collection: tags %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if entry.links.any? %>
              <div class="cluster">
                <div>
                  <% entry.links.each do |link| %>
                    <%= highlight_link_to link.address, class: "with-icon" do %>
                      <%= icon_tag link_icon(link) %>
                      <%= link_name(link) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
