<% content_for(:title) do %><%= t(".title") %><% end %>

<% content_for :banner do %>
  <div class="bg-black c-white" data-controller="combobox" data-action="combobox-commit->combobox#add" data-combobox-hidden-class="hidden">
    <div class="container | centre stack | align-center p-l">
      <h1 class="tw-font-display size-5"><%= t(".title") %></h1>

      <%= render partial: "form", locals: { search: @search } %>
    </div>
  </div>
<% end %>

<% if @search.valid? %>
  <div class="stack | stack-l">
  <h2 class="tw-font-display size-5 align-center"><%= pluralize(@search.tags.count, Tag.model_name.human) %></h2>

  <div class="cluster | cluster-center tw-font-body" data-controller="search-highlights">
    <div>
      <% @search.tags.each do |tag| %>
        <%= link_to search_highlight(tag.name, @search.query&.split(" ")), tag %>
      <% end %>
    </div>
  </div>

  <h2 class="tw-font-display size-5 align-center"><%= pluralize(@search.entries.count, Entry.model_name.human) %></h2>

  <%= render "shared/paginate", page: @page, path: ->(next_page) {search_path(query: @search.query, page: @page.next_param)}, class: "stack | stack-l" do %>
    <% @page.records.each do |entry| %>
      <div id="<%= dom_id entry %>" class="with-sidebar | tw-font-body" data-controller="search-highlights">
        <div>
          <div style="width: max(25%, 16rem)">
            <% if entry.cover.attached? %>
              <div class="tile" style="--cover-image: url('<%= url_for entry.cover %>');">
                <div class="tile--cover"></div>
              </div>
            <% end %>
          </div>

          <div class="stack | stack-xs">
            <h1><%= link_to search_highlight(entry.name, @search.query&.split(" ")), entry %></h1>

            <% creator_tags = entry.tags.select(&:creator?) %>
            <% if creator_tags.any? %>
              <div class="cluster">
                <div>
                  <%= render partial: "tags/tag", collection: creator_tags %>
                </div>
              </div>
            <% end %>

            <div>
              <%= search_highlight entry.description.to_s, @search.query&.split(" ") %>
            </div>

            <% non_creator_tags = entry.tags.reject(&:creator?) %>
            <% if non_creator_tags.any? %>
              <div class="cluster">
                <div>
                  <% non_creator_tags.group_by(&:tag_category).each_with_index do |(category, tags), index| %>
                    <% if index > 0 %><span>&mdash;</span><% end %>
                    <%= render partial: "tags/tag", collection: tags %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if entry.links.any? %>
              <div class="cluster">
                <div>
                  <% entry.links.each do |link| %>
                    <%= highlight_link_to link.address, class: "with-icon" do %>
                      <%= icon_tag link_icon(link) %>
                      <%= link_name(link) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
