<% content_for :banner do %>
  <div class="c-white bg-black">
    <div class="container | centre stack | p-l">
      <h1><%= t(".title") %></h1>

      <%= render partial: "form", locals: { search: @search } %>
    </div>
  </div>
<% end %>

<% if @search.query %>
  <h2><%= pluralize(@search.tags.count, Tag.model_name.human) %></h2>

  <div class="cluster">
    <div>
      <% @search.tags.each do |tag| %>
        <%= link_to search_highlight(tag.name, @search.query.split(" ")), tag %>
      <% end %>
    </div>
  </div>

  <h2><%= pluralize(@search.entries.count, Entry.model_name.human) %></h2>

  <%= render "shared/paginate", page: @page, path: ->(next_page) {search_path(query: @search.query, page: @page.next_param)}, class: "stack | stack-l" do %>
    <% @page.records.each do |entry| %>
      <div class="with-sidebar" data-controller="search-highlights">
        <div>
          <div style="width: max(25%, 12rem)">
            <div class="frame | frame-1-1">
              <% if entry.cover.attached? %>
                <%= image_tag entry.cover %>
              <% end %>
            </div>
          </div>

          <div class="stack">
            <div class="cluster | cluster-space cluster-baseline">
              <div>
                <h1 class="unifraktur"><%= highlight_link_to search_highlight(entry.name, @search.query.split(" ")), entry %></h1>
              </div>
            </div>

            <% if entry.links.any? %>
              <div class="cluster">
                <div class="plex-mono">
                  <strong><%= Link.model_name.human.pluralize %>:</strong>

                  <% entry.links.each do |link| %>
                    <%= highlight_link_to link.address, class: "with-icon" do %>
                      <%= icon_tag link_icon(link) %>
                      <%= link_name(link) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <% if entry.tags.any? %>
              <div class="cluster">
                <div class="plex-mono">
                  <strong><%= Tag.model_name.human.pluralize %>:</strong>

                  <%= render partial: "tags/tag", collection: entry.tags %>
                </div>
              </div>
            <% end %>

            <div class="plex-mono">
              <%= search_highlight entry.description.to_s, @search.query.split(" ") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
