<div class="stack | stack-3xl">
  <div class="stack | stack-m align-center">
    <h2 class="tw-font-display tw-text-6xl"><%= t ".categories_heading" %></h2>

    <dl class="switcher | tw-font-body">
      <% @dashboard.categories.in_groups(2, false) do |category_group| %>
        <div class="stack | stack-xs">
          <% category_group.each do |category| %>
            <div>
              <dt><%= link_to category.name, category, data: { controller: "highlight" } %></dt>
              <dd><%= category.short_description %></dd>
            </div>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>

  <div class="stack | stack-m align-center">
    <h2 class="tw-font-display tw-text-6xl"><%= t ".latest_entries_heading" %></h2>
    <p class="tw-font-body"><%= t ".latest_entries_subheading_html" %></p>

    <div class="reel" data-controller="reel">
      <%= render EntryTileComponent.with_collection(@dashboard.recently_created_entries) %>
    </div>
  </div>
</div>
