<% content_for(:pre_header) do %>
  <div class="dashboard-cover" data-controller="scroll-progress" data-action="resize@window->scroll-progress#resize">
    <div class="dashboard-cover--image-container">
      <%= image_pack_tag "media/images/exlibris_yellow.jpg", class: "dashboard-cover--image" %>

      <div class="dashboard-cover--please-scroll | cluster cluster-center m-s highlight-white">
        <div>
          <div>
            <span data-controller="highlight"><%= t(".scroll_down") %></span>
          </div>
          <%= image_pack_tag "media/images/potato_borg.png" %>
        </div>
      </div>
    </div>

    <div class="dashboard-cover--content | container stack centre | p-s palatino highlight-black c-white">
      <h1 class="size-4" data-controller="highlight"><span class="p-xs"><%= t ".title" %></span></h1>

      <div class="size-2 mw-measure measure-small" data-controller="highlight">
        <p><span class="inline-block p-xs"><%= t ".subtitle" %></span></p>
      </div>
    </div>
  </div>
<% end %>

<div class="stack | stack-3xl">
  <div class="stack | stack-m align-center">
    <h2 class="unifraktur size-5"><%= t ".categories_heading" %></h2>

    <dl class="switcher | plex-mono">
      <% @dashboard.categories.in_groups(2, false) do |category_group| %>
        <div class="stack | stack-xs">
          <% category_group.each do |category| %>
            <div>
              <dt><%= link_to category.name, category, data: { controller: "highlight" } %></dt>
              <dd><%= category.short_description %></dd>
            </div>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>

  <div class="stack | stack-m align-center">
    <h2 class="unifraktur size-5"><%= t ".latest_entries_heading" %></h2>
    <p class="plex-mono"><%= t ".latest_entries_subheading_html" %></p>

    <div class="reel" data-controller="reel">
      <% @dashboard.recently_created_entries.each do |entry| %>
        <%= link_to entry do %>
          <%= tag.div class: "tile", style: (entry.cover.attached? ? "--cover-image: url('#{url_for entry.cover}');" : "") do %>
            <div class="tile--cover"></div>

            <div class="tile--detail | imposter">
              <div class="highlight-white size-2">
                <span data-controller="highlight"><%= entry.name %></span>
              </div>

              <div>
                <% entry.category_tags.each do |category| %>
                  <span data-controller="highlight"><%= category.name %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
