<% content_for(:pre_header) do %>
  <div class="dashboard-cover" data-controller="scroll-progress" data-action="resize@window->scroll-progress#resize">
    <div class="dashboard-cover--image-container tw-bg-secondary-1">
      <%= image_tag "exlibris_yellow.jpg", class: "dashboard-cover--image" %>

      <div class="dashboard-cover--please-scroll | cluster cluster-center m-s highlight-white">
        <div>
          <div>
            <span data-controller="highlight"><%= t(".scroll_down") %></span>
          </div>
          <%= image_tag "potato_borg.png" %>
        </div>
      </div>
    </div>

    <div class="dashboard-cover--content | container stack centre | p-s tw-font-brand highlight-black tw-text-secondary-12">
      <h1 class="size-4" data-controller="highlight"><span class="p-xs"><%= t ".title" %></span></h1>

      <div class="size-2 mw-measure measure-small" data-controller="highlight">
        <p><span class="inline-block p-xs"><%= t ".subtitle" %></span></p>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "dashboards/show", variants: ["default"] %>
