<%= form_with model: [:admin, @entry], class: "stack" do |form| %>
  <div>
    <%= form.label :name %>
    <% @entry.errors.full_messages_for(:name).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cover %>
    <% @entry.errors.full_messages_for(:cover).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.label :description %>
    <% @entry.errors.full_messages_for(:description).each do |error| %>
      <%= content_tag :span, error %>
    <% end %>
    <%= form.rich_text_area :description, value: @entry.description.presence || Entry::DEFAULT_DESCRIPTION %>
  </div>

  <div class="stack | stack-s3" data-controller="nested-form">
    <h2>Links</h2>
    <template data-nested-form-target="template">
      <%= form.fields_for :links, Link.new, child_index: "NEW_RECORD" do |link_form| %>
        <%= render partial: "link_form", locals: { form: link_form } %>
      <% end %>
    </template>

    <div data-nested-form-target="form" class="stack | stack-s3">
      <%= form.fields_for :links do |link_form| %>
        <%= content_tag :div, class: "nested-fields", data: { new_record: link_form.object.new_record? } do %>
          <%= render partial: "link_form", locals: { form: link_form } %>
        <% end %>
      <% end %>
    </div>

    <div>
      <button data-action="click->nested-form#addAssociation">Add Link</button>
    </div>
  </div>

  <div class="stack | stack-s3">
    <h2>Tags</h2>

    <div>
      <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
        <%= b.label do %>
          <%= b.check_box %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= form.submit %>
<% end %>
