<% content_for :title do %><% if content_for? :title %><% yield(:title) %> | <% end %><%= t(".title") %><% end %>

<% content_for :header do %>
  <header class="container | centre cluster | cluster-space cluster-baseline">
    <div>
      <div class="cluster | cluster-baseline cluster-grow">
        <div class="palatino size-2">
          <%= link_to t(".name"), admin_root_path %>
          <small class="size--1"><%= link_to t(".back_link"), root_path %></small>
        </div>
      </div>

      <nav class="cluster | cluster-baseline">
        <div>
          <% if signed_in? %>
            <%= link_to t(".entries_link"), admin_entries_path %>
            <%= link_to t(".tags_link"), admin_tags_path %>
            <%= button_to t(".sign_out_button"), sign_out_path, method: :delete %>
          <% else %>
            <%= link_to t(".sign_in_link"), sign_in_path %>
          <% end %>
        </div>
      </nav>
    </div>
  </header>
<% end %>

<%= render template: "layouts/application" %>
