<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:title) %><%= yield(:title) %> | <% end %><%= t("application.name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= preload_pack_asset "media/fonts/UnifrakturCook-Bold.ttf" %>
    <%= preload_pack_asset "media/fonts/IBMPlexMono-Regular.ttf" %>
    <%= preload_pack_asset "media/fonts/IBMPlexMono-Italic.ttf" %>
    <%= preload_pack_asset "media/fonts/IBMPlexMono-Bold.ttf" %>
    <%= preload_pack_asset "media/fonts/IBMPlexMono-BoldItalic.ttf" %>


    <% if ENV["COLLECT_ANALYTICS"].present? %>
      <script defer data-domain="exlibrisrpg.com" src="https://plausible.io/js/plausible.js"></script>
    <% end %>
  </head>

  <body class="fill | bg-black plex-mono" data-controller="annotation">
    <div class="fill | fill-with | bg-white">
      <% if content_for?(:pre_header) %>
        <%= yield(:pre_header) %>
      <% end %>

      <header id="content">
        <%= yield :header %>
      </header>

      <main class="fill-with">
        <% if content_for?(:banner) %>
          <%= content_for :banner %>
        <% end %>

        <div class="container | centre stack | p-l">
          <div class="stack">
            <% if flash.any? %>
              <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </main>

      <footer>
        <%= yield :footer %>
      </footer>
    </div>
  </body>
</html>
