<!DOCTYPE html>
<html>
  <head>
    <title>Exlibris</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="centre stack | sans-serif p-4 mw-8">
    <header class="cluster | cluster-space">
      <div>
        <%= link_to t(".name"), root_path %>

        <nav class="cluster">
          <div>
            <%= link_to t(".new_entry_link"), new_entry_path %>
            <%= link_to t(".new_tag_link"), new_tag_path %>
            <%= form_with model: Search.new, url: search_path, method: :get do |form| %>
              <%= form.text_field :query, name: :query, placeholder: Search.model_name.human %>
            <% end %>
          </div>
        </nav>
      </div>
    </header>

    <main class="stack">
      <%= yield %>
    </main>
  </body>
</html>
