<% content_for :header do %>
  <div class="tw-bg-accent-2 tw-text-accent-12">
    <div class="tw-container tw-mx-auto tw-p-4 tw-flex tw-gap-4 tw-items-center tw-justify-between tw-flex-wrap">
      <div class="tw-flex tw-gap-4 tw-flex-grow tw-items-baseline tw-font-brand tw-flex-wrap highlight-none">
        <%= link_to Current.system.full_name, root_path(anchor: "content"), class: "tw-text-3xl" %>
        <small class="tw-text-base"><%= Current.system.tagline %></small>
      </div>

      <div class="tw-w-4/12 tw-flex-grow">
        <% if @search.blank? %>
          <%= render Layout::Header::SearchComponent.new(search: @search) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render Layout::Header::SecondaryNavComponent.new(links: Tag.categories(Current.system).map { |category| { label: category.name, path: url_for(category) } }) %>
<% end %>

<% content_for :footer do %>
  <div class="tw-bg-secondary-2 tw-text-secondary-11">
    <div class="tw-container tw-mx-auto tw-p-4 tw-font-body">
      <div class="switcher tw-text-xs tw-leading-relaxed">
          <ul role="menu" class="tw-flex tw-flex-col tw-gap-2">
            <li class="tw-font-brand tw-text-xl"><%= link_to Current.system.full_name, root_path(anchor: "content") %></li>
            <li><%= link_to t(".footer.tags_link"), tags_path %></li>
            <li><%= link_to t(".footer.search_link"), search_path %></li>
            <li><%= link_to t(".footer.credits_link"), credits_path %></li>
            <li><%= link_to t(".footer.about_link"), about_path %></li>
          </ul>

        <div class="tw-flex tw-flex-col tw-gap-2 tw-max-w-prose">
          <%= t(".footer.license_html") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
