<% content_for :header do %>
  <div class="stack | p-s pl-l pr-l | bg-yellow">
    <div class="container | centre cluster | cluster-space cluster-baseline">
      <div>
        <div class="cluster | cluster-baseline cluster-grow">
          <div class="palatino size-2 highlight-none">
            <%= link_to t(".name"), root_path(anchor: "content") %>
            <small class="size--1"><%= t(".tagline") %></small>
          </div>
        </div>

        <% if @search.blank? %>
          <nav id="nav-search" class="cluster | cluster-baseline cluster-grow" style="min-width: 30%;" data-turbo-permanent>
            <div>
              <%= form_with model: @search || Search.new, url: search_path, method: :get, class: "search | highlight-white" do |form| %>
                <div class="search--field with-icon" data-controller="highlight">
                  <%= form.label :query do %>
                    <%= icon_tag :search %>
                  <% end %>
                  <%= form.text_field :query, name: :query, placeholder: Search.model_name.human %>
                </div>
              <% end %>
            </div>
          </nav>
        <% end %>
      </div>
    </div>
  </div>

  <div class="c-white bg-black">
    <div class="container | cluster cluster-xs centre | bg-black pl-l pr-l">
      <div class="size--1 plex-mono">
        <% Tag.categories.each do |category| %>
          <em><%= link_to category.name, category %></em>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
