<% content_for :header do %>
  <div class="stack | p-s pl-l pr-l | tw-bg-accent-2 tw-text-accent-12">
    <div class="container | centre cluster | cluster-space cluster-baseline">
      <div>
        <div class="cluster | cluster-baseline cluster-grow">
          <div class="tw-font-brand tw-text-3xl highlight-none">
            <%= link_to t("application.name"), root_path(anchor: "content") %>
            <small class="tw-text-base"><%= t("application.tagline") %></small>
          </div>
        </div>

        <% if @search.blank? %>
          <%= render Layout::Header::SearchComponent.new(search: @search) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render Layout::Header::SecondaryNavComponent.new(links: Tag.categories(Current.system).map { |category| { label: category.name, path: url_for(category) } }) %>
<% end %>

<% content_for :footer do %>
  <div class="tw-bg-secondary-2 tw-text-secondary-11">
    <div class="container | centre | p-s measure-wide tw-font-body">
      <div class="switcher tw-text-xs tw-leading-relaxed">
          <ul role="menu" class="stack | stack-2xs">
            <li class="tw-font-brand tw-text-xl"><%= link_to t("application.name"), root_path(anchor: "content") %></li>
            <li><%= link_to t(".footer.tags_link"), tags_path %></li>
            <li><%= link_to t(".footer.search_link"), search_path %></li>
            <li><%= link_to t(".footer.credits_link"), credits_path %></li>
            <li><%= link_to t(".footer.about_link"), about_path %></li>
          </ul>

        <div class="stack | stack-xs">
          <%= t(".footer.license_html") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
