<% content_for :header do %>
  <div class="stack | p-s pl-l pr-l | tw-bg-accent-2 tw-text-accent-12">
    <div class="container | centre cluster | cluster-space cluster-baseline">
      <div>
        <div class="cluster | cluster-baseline cluster-grow">
          <div class="tw-font-brand size-2 highlight-none">
            <%= link_to t("application.name"), root_path(anchor: "content") %>
            <small class="size--1"><%= t("application.tagline") %></small>
          </div>
        </div>

        <% if @search.blank? %>
          <%= render Layout::Header::SearchComponent.new(search: @search) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tw-bg-secondary-2 tw-text-secondary-11">
    <div class="container | cluster cluster-xs centre | tw-bg-secondary-2 pl-l pr-l">
      <div class="size--1 tw-font-body">
        <% Tag.categories(Current.system).each do |category| %>
          <em><%= link_to category.name, category %></em>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="tw-bg-secondary-2 tw-text-secondary-11">
    <div class="container | centre | p-s measure-wide tw-font-body">
      <div class="switcher size--2">
          <ul role="menu" class="stack | stack-2xs">
            <li class="tw-font-brand size-1"><%= link_to t("application.name"), root_path(anchor: "content") %></li>
            <li><%= link_to t(".footer.tags_link"), tags_path %></li>
            <li><%= link_to t(".footer.search_link"), search_path %></li>
            <li><%= link_to t(".footer.credits_link"), credits_path %></li>
            <li><%= link_to t(".footer.about_link"), about_path %></li>
          </ul>

        <div class="stack | stack-xs">
          <%= t(".footer.license_html") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
